<table class="table">
    <tbody>
        <tr>
            <th>
                Id
            </th>
            <td>
                {{ item.id }}
            </td>
        </tr>
        <tr>
            <th>
                TabName
            </th>
            <td>
                {{ item.tabName }}
            </td>
        </tr>
        <tr>
            <th>
                TabKey
            </th>
            <td>
                {{ item.tabKey }}
            </td>
        </tr>
        <tr>
            <th>
                TabData
            </th>
            <td>
                {{ item.tabData ? item.tabData|json_encode : '' }}
            </td>
        </tr>
        <tr>
            <th>
                CreatedAt
            </th>
            <td>
                {{ item.createdAt ? item.createdAt|date('Y-m-d H:i:s') : '' }}
            </td>
        </tr>
        <tr>
            <th>
                UpdateBy
            </th>
            <td>
                {{ item.updateBy ? item.updateBy|date('Y-m-d H:i:s') : '' }}
            </td>
        </tr>
    </tbody>
</table>
