<table class="table">
    <tbody>
        <tr>
            <th>
                Id
            </th>
            <td>
                {{ item.id }}
            </td>
        </tr>
        <tr>
            <th>
                TableName
            </th>
            <td>
                {{ item.tableName }}
            </td>
        </tr>
        <tr>
            <th>
                TableKey
            </th>
            <td>
                {{ item.tableKey }}
            </td>
        </tr>
        <tr>
            <th>
                TableData
            </th>
            <td>
                {{ item.tableData ? item.tableData|json_encode : '' }}
            </td>
        </tr>
        <tr>
            <th>
                CreatedAt
            </th>
            <td>
                {{ item.createdAt ? item.createdAt|date('Y-m-d H:i:s') : '' }}
            </td>
        </tr>
        <tr>
            <th>
                UpdatedBy
            </th>
            <td>
                {{ item.updatedAt ? item.updatedAt|date('Y-m-d H:i:s') : '' }}
            </td>
        </tr>
        <tr>
            <th>
                UpdatedBy
            </th>
            <td>
                {{ item.updatedBy }}
            </td>
        </tr>
    </tbody>
</table>
