{% extends 'base.html.twig' %}

{% block main_top %}
    {% if items.tableName == 'table' %}
        Available tables
    {% elseif items.tableName == 'field' %}
        Fields of table
        {{ items.tableName }}
    {% else %}
        {{ items.table.tableLabel }}
        index
    {% endif %}
{% endblock %}

{% block main_content %}

    <table class="table">
        <thead>
            <tr>
                {% for label in items.fieldsLabel %}
                    <th>
                        {{ label }}
                    </th>
                {% endfor %}
                <th>
                    actions
                </th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    {% for name in items.fieldsName %}
                        <td>
                            {{ item.tableData[name] }}
                        </td>
                    {% endfor %}
                    <td>
                        <a class="btn btn-primary btn-sm" href="{{ path('item_show', {'tableName': items.tableName, 'id': item.id}) }}">
                            Show
                        </a>
                        <a class="btn btn-primary btn-sm" href="{{ path('item_edit', {'tableName': items.tableName, 'id': item.id}) }}">
                            Edit
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="{{ item.fields.count + 1 }}">
                        no records found
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% embed "@MazariniSymfoTab/item/_button.html.twig" with {'action': 'index','tableName': items.tableName,'id': 0 } %}
    {% endembed %}
    {{ dump(items) }}
{% endblock %}
