{% extends 'base.html.twig' %}

{% block main_top %}
    Table index
{% endblock %}

{% block main_content %}

    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    TabName
                </th>
                <th>
                    TabKey
                </th>
                <th>
                    TabData
                </th>
                <th>
                    CreatedAt
                </th>
                <th>
                    UpdateBy
                </th>
                <th>
                    actions
                </th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        {{ item.id }}
                    </td>
                    <td>
                        {{ item.tabName }}
                    </td>
                    <td>
                        {{ item.tabKey }}
                    </td>
                    <td>
                        {{ item.tabData ? item.tabData|json_encode : '' }}
                    </td>
                    <td>
                        {{ item.createdAt ? item.createdAt|date('Y-m-d H:i:s') : '' }}
                    </td>
                    <td>
                        {{ item.updateBy ? item.createdAt|date('Y-m-d H:i:s') : '' }}
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{{ path('item_show', {'id': item.id}) }}">
                            show
                        </a>
                        <a class="btn btn-primary btn-sm" href="{{ path('item_edit', {'id': item.id}) }}">
                            edit
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">
                        no records found
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% embed "@MazariniSymfoTab/item/_button.html.twig" with {'id': 0, 'action': 'index' } %}
    {% endembed %}

{% endblock %}
